[Mining]
Address = [YOUR MINER ADDRESS]

[Database]
Username = [Name of MariaDB Worker]
Password = [Password of MariaDB Worker]
Hostname = [Name/IP of MariaDB server]
Port = [Port to connect to MariaDB server]
DB = [Name of MariaDB database which `Username` has access to]
