[Mining]
Address = "Your ETH Address"

[Database]
Hostname = "Your SQL server hostname"
Port = "Your SQL server's port"
DB = "Your database for storing data"

[TrackUser]
Username = "Your SQL user with SELECT, UPDATE, and INSERT access as necessary"
Password = "That user's password"

[ViewUser]
Username = "Your SQL user with SELECT access as necessary"
Password = "That user's password"
